<h1> All Shelters </h1>

<% @shelters.each do |shelter|%>
  <%= shelter.name %><br/>
<% end %><br/>

<section><h2>Shelters with Pending Applications</h2><br/>
<div id="Pending">
<% @pending_shelters.each do |pending_shelter|%>
  <p><%= pending_shelter.name %></p>
<% end %>
</div>


</section>